# Secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/
env/

# Streamlit and editor files
.streamlit/secrets.toml
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

#data gas turbine block 2 Muara Karang
.data/raw_data_gas_turbine.csv
data/raw_data_gas_turbine.csv
data\raw_data_gas_turbine.csv
raw_data_gas_turbine.csv